/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/* Global Styles */
:root {
    --first-color: #745e96;
    --second-color: #8436D2;
    --third-color: #e7e7e7;
  }

  body{
    color: var(--third-color);
  }
  

  .fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .header__container{
background-color: var(--first-color);
display: flex;
  }

  .nav__list{
    display: flex;
    list-style: none;
    gap: 1rem;
  }

  .nav__link{
text-decoration: none;
color: var(--third-color);
  }
  

  .header__img{
    width: 8rem;
  }