/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Global Styles */
:root {
  --first-color: #e7ddff;
  --second-color: #745e96;
  --third-color: #e7e7e7;
}

body {
  color: var(--third-color);
}


.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header__container {
  background-color: var(--first-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header__logo{
  transition: .2s ease;
}

.header__logo:hover{
  transform: scale(1.1);
	cursor: pointer;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.nav__link {
  text-decoration: none;
  color: var(--second-color);
}

.nav__item{
  transition: .2s ease;
}

.nav__item:hover{
  transform: scale(1.1);
	cursor: pointer;
}

.nav__item--contact{
  background-color: #fff;
  border-radius: .4rem;
  padding: .2rem;
  transition: .2s ease;
  border:solid 1px #745e96;
  
}

.nav__item--contact:hover{
  transform: scale(1.1);
	cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(173,0,255,0.75);
-webkit-box-shadow: 0px 0px 10px 0px rgba(173,0,255,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(173,0,255,0.75);
}

.nav__link--contact{
  text-decoration: none;
  list-style: none;
  color: var(--second-color);
}

.header__img {
  width: 6rem;
}

/* Slideshow styles */

.container__presentation{
  height: 100%;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100;
  overflow: hidden;
}

.slideshow__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
  z-index: 2;
}

.slideshow__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideshow__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideshow 20s infinite;
}

.slideshow__image--1 {
  background-image: url('/assets/background.png');
  animation-delay: 0s;
}

.slideshow__image--2 {
  background-image: url('/assets/background2.png');
  animation-delay: 4s;
}

.slideshow__image--3 {
  background-image: url('/assets/background3.png');
  animation-delay: 8s;
}

.slideshow__image--4 {
  background-image: url('/assets/background4.png');
  animation-delay: 12s;
}

.slideshow__image--5 {
  background-image: url('/assets/background5.png');
  animation-delay: 16s;
}

@keyframes slideshow {
  0% { opacity: 0; }
  20% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}